/* GOOGLE FONT LINK */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GOOGLE FONT LINK END */

/* =============== ========= */

/* COMMON CSS AREA */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
p,
ul,
ol,
a {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a,
a:hover {
    text-decoration: none;
}

img {
  vertical-align: middle;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

:root {
  --primary_color: #0149a1;
  --secondary_color: #5d6981;
  --third_color: #5483bb;
  --border_color: #9fabb9;
  --p_color: #7c8ca0;
  --fontRoboto: "Roboto", sans-serif;
}
/* COMMON CSS AREA END */

/* =============== ========= */

/* PRELOADER AREA */
.center {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: var(--primary_color);
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: progress;
}

.spiner {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: spiner 3s linear infinite;
}
  
@keyframes spiner {
    0% {
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px #72BF78;
    }
  
    50% {
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px #A0D683;
    }
  
    100% {
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px #D3EE98;
    }
}
  
.spiner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
}
  
span {
    font-size: 22px;
    color: #77E4C8;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 4s ease-in-out infinite;
}
  
@keyframes text {
    50% {
        color: #D24545;
        transform: rotateX(-90deg);
    }
}
/* PRELOADER AREA END */

/* =============== ========= */

/* BACK TO TOP BTN */
.back_to_top {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 20;
    border-radius: 50%;
    background: var(--third_color);
    display: none;
    animation: btt 0.8s ease-in;
}

.back_to_top:hover {
    background: var(--p_color);
}

@keyframes btt {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}
/* BACK TO TOP BTN END */

/* =============== ========= */

/* MENU AREA */
.navbar {
    position: sticky;
    top: 0;
    z-index: 5;
    background: white;
    transition: 0.5s;
}

.navbar-nav .nav-item .nav-link {
    font-size: 17px;
    font-family: var(--fontRoboto);
    color: var(--secondary_color);
    text-transform: capitalize;
    padding: 6px 15px;
    border: 2px solid transparent;
    border-radius: 21px;
    transition: 0.5s;
    margin-left: 6px;
}

.navbar-nav .nav-item .nav-link:hover {
    /* color: #fff;
    background: var(--secondary_color); */
    border: 2px solid var(--border_color);
}

.third_color {
    background: var(--third_color);
    animation: bgDown 0.5s ease-out;
}

@keyframes bgDown {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
    }
}

.third_color .nav-link {
    color: #fff;
}

.third_color .nav-link:hover {
    color: var(--third_color);
}

.navbar-nav .nav-item .nav-icon {
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 5px;
    line-height: 40px;
    text-align: center;
}

.navbar-nav .nav-item .nav-icon:hover {
    color: #fff !important;
}

.nav-icon1 {
    color: #3c5a99 !important;
    border: 2px solid #3c5a99 !important;
    transition: 0.5s !important;
}

.nav-icon1:hover {
    background: #3c5a99 !important;

}

.nav-icon2 {
    color: #28aae1 !important;
    border: 2px solid #28aae1 !important;
    transition: 0.5s !important;
}

.nav-icon2:hover {
    background: #28aae1 !important;
}

.primary_color {
    background: var(--third_color);
    animation: bgDown 0.7s ease-out;
}

@keyframes bgDown {
    /* 0% / */ from { 
        transform: translateY(-100px);
    }
    /* 100% / */ to {
        transform: translateY(0px);
    }
}
/* MENU AREA END */

/* =============== ========= */

/* HERO AREA */
.hero_area {
    background: linear-gradient(rgba(0, 0, 0, 0.051), rgba(0, 0, 0, 0.141));
    padding-top: 80px;
}

.hero_con h2 {
    font-size: 62px;
    font-weight: bold;
    color: var(--primary_color);
}

.hero_con h6 {
    font-size: 32px;
    font-weight: lighter;
    color: var(--secondary_color);
}

.hero_btn a {
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    background: #ff2d55;
    margin: 48px 0;
    padding: 10px 40px;
    transition: 0.5s;
}

.hero_btn a:hover {
    color: #fff;
    background: var(--third_color);
}

.hero_icon a {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary_color);
}

.hero_icon i {
    font-size: 18px;
    margin-left: 22px;
    color: #6785bb;
}

.hero_icon {
    border-radius: 50px;
    padding: 8px 20px;
    background: #fff;
    top: 600px;
    left: 44%;
}
/* HERO AREA END */

/* =============== ========= */

/* SERVICE AREA */
.service_area {
    background: linear-gradient(rgba(0, 0, 0, 0.141), rgba(0, 0, 0, 0.051));
    padding-bottom: 72px;
}

.service_icon {
    padding-top: 48px;
}

.service_con h2 {
    font-size: 26px;
    font-weight: bold;
    color: var(--secondary_color);
    margin: 28px 0 13px;
}

.service_con p {
    font-size: 16px;
    font-weight: 300;
    color: var(--p_color);
    padding: 0 6px 22px;
}
/* SERVICE AREA END */

/* =============== ========= */

/* CREATIVE AREA */
.creative_area {
    /* padding: 250px 0; */
    padding-top: 240px;
    padding-bottom: 144px;
    background: url(../img/creativity.webp) no-repeat center;
    background-size: cover;
}

.creative_btn a {
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    background: var(--primary_color);
    margin: 48px 0;
    padding: 10px 40px;
    transition: 0.5s;
}

.creative_btn a:hover {
    color: #fff;
    background: #ff2d55;
}
/* CREATIVE AREA END */

/* =============== ========= */

/* WORK AREA */
.work_area {
    background: var(--primary_color);
    padding: 72px 0 0px;
}

.work_heading h2 {
    font-size: 52px;
}

.work_heading h6 {
    font-size: 28px;
    font-weight: lighter;
    color: var(--third_color);
}

.work_con p {
    font-size: 17px;
    font-weight: lighter;
    padding: 0 18px;
}

.work_btn a {
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    color: var(--primary_color);
    background: #fff;
    margin: 48px 0;
    padding: 10px 40px;
    transition: 0.5s;
}

.work_btn a:hover {
    color: #fff;
    background: var(--third_color);
}
/* WORK AREA END */

/* =============== ========= */

/* OPINION AREA */
.opinion_area {
    background: #fff;
    padding: 67px 0 56px;
}

.opinion_con img {
    height: auto;
    width: 112px !important;
}

.opinion_con .op_text {
    font-size: 22px;
    font-weight: lighter;
    font-style: italic;
    color: var(--p_color);
    margin: 27px 0;
}

.opinion_con .op_link {
    font-size: 18px;
    font-weight: lighter;
    color: var(--p_color);
}

.opinion_con .op_link a {
    text-decoration: underline;
    color: var(--p_color);
    transition: 0.5s;
}

.opinion_con .op_link a:hover {
    color: var(--primary_color);
}

.swiper-button-next {
    height: 50px;
    width: 50px;
    color: #8a99aa;
    position: absolute;
    right: 200px;
    border: 2px solid #e3e7eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev {
    height: 50px;
    width: 50px;
    color: #8a99aa;
    position: absolute;
    left: 200px;
    border: 2px solid #e3e7eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination {
    margin-top: 32px;
    position: unset;
}
/* OPINION AREA END */

/* =============== ========= */

/* TEAM AREA */
.team_area {
    padding: 64px 0;
    background: #edeff1;
}

.team_heading h2 {
    font-size: 54px;
    font-weight: bold;
    color: var(--primary_color);
}

.team_heading h6 {
    font-size: 28px;
    font-weight: lighter;
    color: var(--p_color);
}

.team_img img {
    height: auto;
    width: 112px !important;
    padding: 28px 0 32px;
}

.team_con h4 {
    font-size: 28px;
    font-weight: bold;
    color: var(--secondary_color);
    margin: 0 0 16px;
}

.team_con p {
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    color: var(--p_color);
    padding: 0 5px;
}

.team_btn a {
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    color: #fff;
    background: #ff2d55;
    margin: 58px 0 18px;
    padding: 10px 40px;
    transition: 0.5s;
}

.team_btn a:hover {
    color: #fff;
    background: var(--third_color);
}

.filter_btn_area .btn {
    color: #fff;
    background: var(--third_color);
    border: 0px;
    border-radius: 50px;
    padding: 10px 20px;
    transition: 0.5s;
}

.filter_btn_area .btn:hover {
    background: var(--border_color);
    color: #fff;
}
/* TEAM AREA END */

/* =============== ========= */

/* MAP AREA */
.map_area {
    overflow: hidden;
}
/* MAP AREA END */

/* =============== ========= */

/* FOOTER AREA */
.footer_area {
    padding: 64px 0 36px;
    background: var(--primary_color);
}

.footer_link_con ul li {
    margin: 6px 0;
    padding: 0px 30px;
}

.footer_link_con ul li a {
    font-size: 18px;
    color: #fff;
    transition: 0.5s;
}

.footer_link_con ul li a:hover {
    color: var(--third_color);
}

.end_footer {
    padding-top: 70px;
}

.end_footer p {
    font-size: 16px;
    font-weight: lighter;
}

.end_footer a {
    font-size: 16px;
    font-weight: bold;
    margin-left: 7px;
    color: #ffff;
    transition: 0.5s;
}

.end_footer a:hover {
    color: var(--third_color);
}
/* FOOTER AREA END */

/* =============== ========= */
/* =============== ========= */